.row .form-select {
  padding: 5px; }
.row #type {
  margin-bottom: 2%; }
.row #activityTypes select {
  display: none; }
.row .weightField, .row .cardioField {
  display: none; }

/******************
	CHARTS
*******************/
#chart {
  padding-bottom: 10px;
  margin-bottom: 40px;
  height: 260px; }
  #chart h1 {
    display: none; }
  #chart .jqplot-xaxis-tick {
    font-size: 12px; }
  #chart .jqplot-xaxis-tick,
  #chart .jqplot-point-label {
    color: #fff !important; }
