#header {
  background: url(../images/header.png) center no-repeat;
  max-width: 1332px;
  min-height: 520px;
  margin: 0 auto -280px auto;
  padding-top: 240px;
  overflow: hidden; }
  #header #bigLink {
    display: block;
    width: 154px;
    height: 187px;
    margin: -202px auto 0 auto; }
  @media (max-width: 768px) {
    #header {
      background: url(../images/header-small.jpg) center no-repeat; } }

#footer {
  border-top: 1px solid #333;
  text-align: center;
  padding: 10px 0 40px 0;
  color: #6a6b6c;
  clear: both; }
  #footer p {
    margin: 0;
    line-height: 1.4em; }

body {
  background: #000;
  font-family: Arial;
  color: #FFF;
  font-size: 15px; }

div {
  position: relative; }

h1 {
  color: #00bbf1;
  font-size: 36px;
  font-family: "alternate-gothic-no-1-d",sans-serif; }

ol, ul {
  margin-left: -20px; }

.pad {
  padding: 10px; }

.btn.btn-warning.signout {
  position: absolute;
  display: block;
  right: 200px;
  top: 10px; }
  @media (max-width: 768px) {
    .btn.btn-warning.signout {
      right: 30px; } }

#masterContainer {
  max-width: 1332px;
  min-height: 520px;
  margin: 0 auto;
  overflow: hidden; }

.colwrapper {
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

.menu-social {
  list-style: none;
  overflow: hidden; }
  .menu-social li {
    display: inline-block; }
    .menu-social li a {
      display: inline-block;
      background: url("../images/sprite-social.png") no-repeat;
      margin: 0 2px;
      width: 28px;
      height: 26px; }
    .menu-social li .fb {
      background-position: 0 0; }
      .menu-social li .fb:hover {
        background-position: 0 -40px; }
    .menu-social li .tw {
      background-position: -33px 0; }
      .menu-social li .tw:hover {
        background-position: -33px -40px; }
    .menu-social li .gp {
      background-position: -66px 0; }
      .menu-social li .gp:hover {
        background-position: -66px -40px; }
    .menu-social li .in {
      background-position: -99px 0; }
      .menu-social li .in:hover {
        background-position: -99px -40px; }
    .menu-social li .em {
      background-position: -133px 0; }
      .menu-social li .em:hover {
        background-position: -133px -40px; }

.sponsors ul.list-sponsors {
  list-style: none;
  padding: 0 20px; }
  .sponsors ul.list-sponsors li {
    margin: 0 20px 20px 20px;
    /*float: left;*/ }
    .sponsors ul.list-sponsors li a {
      text-decoration: none; }
    .sponsors ul.list-sponsors li .sponsor-title {
      color: #fff; }
    .sponsors ul.list-sponsors li .sponsor-banner {
      /*max-width: 200px;
      max-height: 200px;*/ }
