#masterContainer {
	background:url('../images/header-mobile.jpg');
	background-repeat:no-repeat;
	width:640px;
	min-height:434px;
	margin:0 auto;
	padding-top:320px;
	font-size:20px;
}

h1 {
	font-size:40px;
}